.Gallery__tilbage-btn {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    font-size: 50px;
    color: white;
    background: transparent;
    border: none;
}